body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
}

/* Уменьшение шрифта для мобильных устройств (экраны до 768px) */
@media screen and (max-width: 768px) {
    body, .content {
        font-size: 15px !important;
        --font-text-size: 15px !important;
    }
    
    .content h1 {
        font-size: 1.6em !important;
    }
    .content h2 {
        font-size: 1.4em !important;
    }
    .content h3 {
        font-size: 1.2em !important;
    }
}